.text-color{
    color: #231d4f;
}
.paragrap-color{
    color: #9b99ac;
    font-size: 16px;
}
.bg-btn{
    background-color: #fef5fa !important;
}
@media only screen and (max-width: 830px) {
    .caurosel-heading{
        font-size:25px !important;      
    }
    .responsive-btn{
        font-size: 12px !important;
    }
    .responsive-info{
        font-size: 12px !important;
    }
    
}
@media only screen and (max-width: 500px) {
    .caurosel-heading{
        font-size:18px !important;      
    }
    .responsive-btn{
        font-size: 10px !important;
        padding: 3px 7px !important;
    }
    .responsive-info{
        font-size: 12px !important;
        margin: 3px 0 !important;
    }
    
}
@media only screen and (max-width: 418px) {
   
    .slide-description{
        width: 300px !important;
        height: 80px !important;
    }
    .caurosel-heading{
        font-size:12px !important;  
        font-weight: bold !important;    
    }
    .responsive-info{
        font-size: 10px !important;
        margin: 3px 0 !important;
    }
}
